<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<clear />
		<!-- production -->
		<add name="BarcodeEntities" connectionString="Server=172.18.1.49;Database=Barcode;User id=tkcdba;password=tkcdba;" />

		<!-- Dev -->
		<!--<add name="BarcodeEntities" connectionString="Server=172.18.1.49;Database=Barcode_DEV;User id=tkcdba;password=tkcdba;" /> -->

		<!-- local -->
		<!--<add name="BarcodeEntities" connectionString="Server=localhost;Database=Barcode;User id=sa;password=P@ssw0rd;" providerName="System.Data.SqlClient"/>-->
		
	</connectionStrings>
	<entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!--<appSettings file=".\.ENV\DEV.config"></appSettings>-->
	<appSettings file=".\.ENV\DEV.config"></appSettings>
	<appSettings>
		<!-- config email -->
		<add key="SenderEmail" value="prones_g@tkoito.co.th" />
		<add key="mailTO" value="prones_g@tkoito.co.th" />
		<add key="SmtpClient" value="172.18.1.2" />
		<add key="Port" value="25" />
		<add key="CredentialsUser" value="5000166" />
		<add key="CredentialsPass" value="cde3@wsxzaq1" />
		<!-- end config email -->

		<!-- config Token line -->
		<add key="TokenLine" value="sNxlH359CKfCNnUIHtJQY3zCxLifQhRBFrVk2hNVSJ4" />
		<!-- end Token line -->

		<!-- config dev api-->
		<add key="CallApiGRandTR" value="http://172.18.1.35:8000/sap/bc/srt/rfc/sap/z_goodsmvt_create1/400/z_goodsmvt_create1_srv/z_goodsmvt_create1_bnd" />
		<add key="CallApiGI" value="http://172.18.1.35:8000/sap/bc/srt/rfc/sap/z_confirm_picking_goods_issue/400/z_confirm_picking_goods_issue_sr/z_confirm_picking_goods_issue_srv" />
		<!-- end dev api -->

		<add key="Databaseconfig" value="[Barcode_DEV].[dbo]" />
	</appSettings>
   
</configuration>