<appSettings>
	<!-- config email -->
	<add key="SenderEmail" value="prones_g@tkoito.co.th" />
	<add key="mailTO" value="prones_g@tkoito.co.th" />
	<add key="SmtpClient" value="172.18.1.2" />
	<add key="Port" value="25" />
	<add key="CredentialsUser" value="5000166" />
	<add key="CredentialsPass" value="cde3@wsxzaq1" />
	<!-- end config email -->

	<!-- config Token line -->
	<add key="TokenLine" value="sNxlH359CKfCNnUIHtJQY3zCxLifQhRBFrVk2hNVSJ4" />
	<!-- end Token line -->

	<!-- config dev api-->
	<add key="CallApiGRandTR" value="http://172.18.1.35:8000/sap/bc/srt/rfc/sap/z_goodsmvt_create1/400/z_goodsmvt_create1_srv/z_goodsmvt_create1_bnd" />
	<add key="CallApiGI" value="http://172.18.1.35:8000/sap/bc/srt/rfc/sap/z_confirm_picking_goods_issue/400/z_confirm_picking_goods_issue_sr/z_confirm_picking_goods_issue_srv" />
	<!-- end dev api -->

	<add key="Databaseconfig" value="[Barcode_DEV].[dbo]" />
</appSettings>